@model ApplicationUser

<h4 class="text-start pb-3 fw-bold fs-2">User Setting</h4>
<div class="d-flex justify-content-center gap-5">
    <h5 class="mb-3 setting-heading setting-pointer" data-target="account-form">Account</h5>
    <h5 class="mb-3 setting-pointer" data-target="password-info-form">Password</h5>
</div>
<form method="post" id="account-form">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container">
            <div class="card shadow-lg">
                <div class="card-header bg-dark">
                    <h4 class="fw-bold mb-0 text-center text-white pt-3 pb-3">Edit User</h4>
                </div>
                <div class="card-body">
                    <input hidden asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email">Email:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber">Phone Number:</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                    <div class="row">
                        <div class="col mb-3">
                
                        <label>Driving License:</label> <br/>
                        @if (!string.IsNullOrEmpty(Model.DrivingLicenseURL))
                        {
                            <img src="~/@Model.DrivingLicenseURL" alt="Driving License Photo" class="img-fluid" style="width:400px"/>
                        }
                        else
                        {
                            <p class="fs-6 fw-normal">No driving license photo available.</p>
                        }
                        </div>
                    <div class=" col mb-3">
                        <label>Citizenship:</label> <br />
                        @if (!string.IsNullOrEmpty(Model.DrivingLicenseURL))
                        {
                            <img src="~/@Model.CitizenshipURL" alt="Citizenship Photo" class="img-fluid" style="width:400px" />
                        }
                        else
                        {
                            <p class="fs-6 fw-normal" fw-light>No citizenship photo available.</p>
                        }
                    </div>
                    </div>

                    <div class="d-flex justify-content-center">
                          @if (User.IsInRole("Admin")){
                        <button type="submit" class="btn btn-dark me-2">Update</button>
                          }
                        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="background-color: #f2f2f2; margin-left: 15px;">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" class="hide" action="@Url.Action("UpdatePassword", "User")" id="password-form">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container">
            <div class="card shadow-lg">
                <div class="card-header bg-dark">
                    <h4 class="fw-bold mb-0 text-center text-white pt-3 pb-3">Change Password</h4>
                </div>
                <div class="card-body">
                    <input hidden asp-for="Id" name="userId" />
                    <div class="mb-3">
                        <label>New Password:</label>
                        <input type="password" name="NewPassword" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Confirm New Password:</label>
                        <input type="password" name="ConfirmPassword" class="form-control" />

                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark me-2">Update</button>
                        <a asp-controller="User" asp-action="Index ms-2" class="btn btn-secondary"  style="background-color: #f2f2f2; margin-left: 15px;">Back</a>
                        </div>
                </div>
               
            </div>
        </div>
    </div>
</form>

@section Scripts{
<script>
    $(document).ready(function () {
        $("[data-target]").click(function () {

            var targetId = $(this).data("target");

            if (targetId === "account-form") {
                $("#account-form").show();
                $("#password-form").hide();
            } 
            else if (targetId === "password-info-form") {
                $("#account-form").hide();
                $("#password-form").show();
            }
            $("[data-target]").removeClass("setting-heading");

            $(this).addClass("setting-heading");
        });

    });
</script>
}



        
