@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .form-control {
        border: none;
        box-shadow: none;
        outline: none;
    }
    .login-btn {
        display: block;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <h3 class="card-title text-center mb-4 bg-dark text-white py-4">Log In</h3>
            <div class="card-body">
                <form id="account" method="post" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
                    </div>
                    <button id="login-submit" type="submit" class="btn btn-dark px-5 py-3 login-btn">Log In</button>
                </form>
                <div class="text-center">
                    <a class="fs-6" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <div class="text-center">
                    <a class="fs-6" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
                <div class="text-center">
                    <a class="fs-6" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
